<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>TestWork</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="navbar navbar-expand-lg navbar-light navbar-border">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
              <i class="fa fa-search"></i>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Архив</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Теги</a>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-primary">Подписаться</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <img src="logo.jpg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark-blue-text">
              <i class="fa fa-bars fa-1x"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">ГЛАВНАЯ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О ПРОДУКТЕ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ИСТОРИИ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">О'ПОМІЧНИК LIFE</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-md-auto style-icons">
              <li class="nav-item">
                <img src="telegram.png">
              </li>
              <li class="nav-item">
                <i class="fa fa-facebook-f"></i>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="structure">
      <div class="container">
        <div class="position_text">
          <h3>О'Помічник блог</h3>
          <div></div>
          <p>Новости для вас</p>
        </div>
        <img src="benefits.svg" class="picture">
      </div>
    </div>
    <div class="text">
      <div class="container">
        <div class="review">
          <img src="people.png">
          <div>
            <p class="mt-2">О'Помічник Life</p>
            <h3>Добро пожаловать в О'Помічник!</h3>
            <p class="text-two mt-3">Уже несколько лет мы занимаемся созданием сервиса О'Помічник, и все еще продолжаем развиваться и расти. Будучи такими же жителями многоквартирных домов с ОСМД, мы пришли к тому, что изо дня в день сталкиваемся с проблемами и вопросами, на которые не находим ответов и решений. Именно эта "боль" помогла нам создать команду и разработать продукт.
            Мы будем использовать этот блог, чтобы держать вас в курсе новых функций и изменений в О'Помічник, а также любых других объявлений или мыслей, которыми мы хотим поделиться с вами. Мы ценим открытость и прозрачность и хотим, чтобы вы понимали что, когда и зачем мы делаем то, что делаем. И нам будет очень важен ваш фидбэк [ответ]. Оставляйте комментарии и задавайте вопросы, мы с удровольствием на них ответим.
            Спасибо, что вы с нами!</p>
            <p class="date">Апрель 17, 2019</p>
          </div>
        </div>
        <div class="review">
          <img src="people.png">
          <div>
            <p class="mt-2">О'Помічник Life</p>
            <h3>Добро пожаловать в О'Помічник!</h3>
            <p class="text-two mt-3">Уже несколько лет мы занимаемся созданием сервиса О'Помічник, и все еще продолжаем развиваться и расти. Будучи такими же жителями многоквартирных домов с ОСМД, мы пришли к тому, что изо дня в день сталкиваемся с проблемами и вопросами, на которые не находим ответов и решений. Именно эта "боль" помогла нам создать команду и разработать продукт.
            Мы будем использовать этот блог, чтобы держать вас в курсе новых функций и изменений в О'Помічник, а также любых других объявлений или мыслей, которыми мы хотим поделиться с вами. Мы ценим открытость и прозрачность и хотим, чтобы вы понимали что, когда и зачем мы делаем то, что делаем. И нам будет очень важен ваш фидбэк [ответ]. Оставляйте комментарии и задавайте вопросы, мы с удровольствием на них ответим.
            Спасибо, что вы с нами!</p>
            <p class="date">Апрель 17, 2019</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


