body{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Open Sans,Arial,sans-serif;
}
 a {
  color: #000000 !important;
}
.navbar{
  width: 100%;
}
.navbar .fa-search{
  color: #1112114d;
  font-size: 20px;
  margin-top: 10px;
}
.navbar-nav li{
  margin-right: 20px;
}
.navbar-border{
  border-bottom: 1px solid #0d0d0e1a;
}
.navbar img{
  width: 40px;
}
.nav-item img{
  width: 15px;
  height: 15px;
}
.style-icons{
  width: 12%;
}
.style-icons img{
  margin-right: 10px;
}
.structure{
  height: 500px;
  background: #d8d3d31a;
}
.position_text{
  width: 30%;
  position: relative;
  top: 150px;
  left: 100px;
  z-index: 5;
}
.position_text h3{
  font-weight: 600;
}
.position_text div{
  border-bottom: 3px solid #fb9b0b;
  width: 80px;
}
.picture{
  float: right;
  position: relative;
  top: -100px;
  z-index: -1;
  left: 130px;
  width: 80%;
}
.text .row{
  width: 100%;
  margin-left: 12.5%;
}
.text img{
  width: 80%;
  height: 80%;
}
#navbarNav ul{
  margin-right: 6%;
}
.review{
  margin: 0 10% 0 10%;
}
.review img{
  height: 290px;
  display: block;
  margin: 0 auto;
}
.review div{
  margin: 0 10% 0 10%;
}
.text-two{
  overflow: hidden;
  height: 50px;
}
.text-two:hover {
  height: auto;
  cursor: pointer;
}
.date{
  font-size: 12px;
  color: #21252980;
}
.text .round-logo{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 10px #21252980;
}
.foto{
  width: 40px;
  display: inline-block;
}
.profile{
  margin-left: 10px;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}
.change_text{
  display: block;
  margin: 0 auto;
  width: 50%;
}
.change_text h1{
  font-weight: 600;
}
.change_text img{
  width: 100%;
}
.text .people_page{
  margin: 0 auto;
  display: block;
}
.nav-item a:hover{
  box-shadow: 0 0 10px #007bff;
  border-radius: 5px;
}
.nav-item img:hover, .fa:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
@media only screen and (max-width: 992px){
  .position_text{
    width: auto;
    top: 100px;
    left: 100px;
  }
  .structure {
    height: 280px;
  }
  .nav-item img, .nav-item i{
    display: none;
  }
}
@media only screen and (max-width: 770px){
  .position_text{
    left: 50px;
  }
  .review img {
    height: 190px;
  }
}
@media only screen and (max-width: 660px){
  .picture{
    left: 0px;
  }
  .position_text{
    top: 180px;
  }
  .text .row {
    margin-left: 0;
  }
}
@media only screen and (max-width: 440px){
  .position_text{
    top: 150px;
  }
  .change_text h1{
    font-size: 30px;
  }
  .text .people_page{
    width: 80%;
    margin: 0;
    display: inline-block;
  }
  .review img {
    height: 120px;
  }
}
